---
Language: Cpp
UseTab: Always
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 170
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
ReferenceAlignment: Right
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
AlwaysBreakAfterReturnType: None
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
KeepEmptyLinesAtTheStartOfBlocks: false
InsertTrailingCommas: None
SortIncludes: false
IncludeBlocks: Preserve
SpacesInParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  BeforeNonEmptyParentheses: false